// colors
$black-color: #454444;
$black-dark-color: darken($black-color, 10%);
$bazzel-color: #1e1e1e;
$screen-color: #1c1c1c;
$sensor-color: #444;

// sizes
$iphonex-height: 694px;
$iphonex-width: 342px;
$top-header-padding: 15px;
$header-padding: 22px;

// mixin
@mixin center {
  display: flex;
  justify-content: center;
}
@mixin pseudo($position: absolute, $content: '') {
  content: $content;
  position: $position;
}
@mixin sensor($border-radius, $height, $width, $left, $margin-left, $top) {
  background: $sensor-color;
  border-radius: $border-radius;
  height: $height;
  width: $width;
  left: $left;
  margin-left: $margin-left;
  top: $top;
}

/*------------------------------------------------*/

body {
  font-family: 'Hachi Maru Pop', cursive;
  @include center;
  padding: 5%;
  background-image: radial-gradient(
    circle farthest-corner at 7.2% 13.6%,
    rgba(37, 249, 245, 1) 0%,
    rgba(8, 70, 218, 1) 90%
  );
}

.iphone-x {
  * {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
      display: block;
    }
  }

  position: relative;
  z-index: 1;
  height: $iphonex-height;
  width: $iphonex-width;

  .bazzel {
    background: $bazzel-color;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px $black-dark-color,
      inset 0 0 0 6px $black-color;
    height: $iphonex-height;
    padding: $top-header-padding $header-padding;
    width: $iphonex-width;
    z-index: 1;
  }

  .app {
    background-position: center center;
    background-size: cover;
    border-radius: 32px;
    height: 665px;
    position: relative;
    width: 314px;
    margin-left: -8px;
    transition: 0.4 ease;
    background-image: url('./img/main.jpg');
  }

  .line {
    &::after,
    &::before {
      @include pseudo;
      border: solid rgba($sensor-color, 0.25);
      border-width: 0 6px;
      height: 5px;
      left: 0;
      width: 100%;
      z-index: 9;
    }
    &::after {
      top: 68px;
    }
    &::before {
      bottom: 68px;
    }
  }

  .header {
    background: $bazzel-color;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 20px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 15px;
    width: 164px;
    z-index: 199;
  }

  .sensor-1 {
    &::after,
    &::before {
      @include pseudo;
    }
    &::after {
      @include sensor(50%, 11px, 11px, 1%, 10px, 1px);
    }
    &::before {
      @include sensor(50%, 11px, 11px, 10%, 20px, 1px);
    }
  }

  .sensor-2 {
    &::after,
    &::before {
      @include pseudo;
    }
    &::before {
      @include sensor(2.5px, 5px, 40px, 50%, -20px, 4px);
    }
  }

  .sensor-3 {
    &::after,
    &::before {
      @include pseudo;
    }
    &::before {
      @include sensor(50%, 11px, 11px, 50%, 35px, 1px);
    }
    &::after {
      @include sensor(50%, 15px, 15px, 65%, 33px, -1px);
    }
  }

  .volume-button {
    background: $black-dark-color;
    height: 26px;
    left: -2px;
    position: absolute;
    top: 92px;
    width: 3px;

    &::after,
    &::before {
      @include pseudo;
      background: $black-dark-color;
      height: 50px;
      left: 0;
      width: 3px;
    }

    &::after {
      top: 48px;
    }
    &::before {
      top: 112px;
    }
  }

  .power-button {
    background: $black-dark-color;
    height: 80px;
    right: -2px;
    position: absolute;
    top: 160px;
    width: 3px;
  }
}

.app.cold {
  background-image: url('./img/cold.jpg');
}
.app.warm {
  background-image: url('./img/warm.jpg');
}
main {
  border-radius: 32px;
  height: 665px;
  position: relative;
  width: 314px;
  margin-left: -8px;
  transition: 0.4 ease;
  padding: 25px;
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
  .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin-top: -25px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
    padding: 15px;
    margin: 5px;
    &:focus {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}
.location-box {
  .location {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
  .date {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  }
}
.weather-box {
  text-align: center;
  .temp {
    position: relative;
    display: inline-block;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 15px 25px;
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
    text-align: center;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  }
  .weather {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  }
}
